<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Anti-Corruption University</title>
</head>
<body>
    <iframe width="560" height="315" src="//www.youtube.com/embed/xnRpMQvW_ow" frameborder="0" allowfullscreen></iframe>
    <div id="step_quiz" class="step_display">
        <form id="quiz_form" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                {% if not forloop.last %}
                    <div id="question_{{ forloop.counter }}">
                        <span>{{ field.label }}</span>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% else %}
                    <div id="code">
                        <span>{{ field.label }}</span>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>