<div class="container-fluid">
  <div class="row">
    <div class="text-center cross-stitched latest-news" style="padding-top:100px">

    <p>Welcome! Please enter your code to begin. You will be shown a video, and then asked to answer some questions. No personal information will be collected or shared. Thank you for participating. If you have problems, questions or comments, please email us at <a href="mailto:info@mayday.us">info@mayday.us</a></p>
        <!--[if IE 8]>
         <p style="color:red;">Oh no! We're not able to support your browser at this time. If you want, you can upgrade to a more recent version at http://betterbrowser.com</p>
         <![endif]-->
        Code: <input ng-model="token">
        <a class="btn btn-cta" ng-click="testCode(token)">Watch video!</a>
      <div ng-hide="validCode">Oops! The code you entered isn't valid!</div>
      <div ng-hide="alreadyUsed">Oops! That code has already been used!</div>
    </div>
  </div>
</div>
