<div class="cross-stitched latest-news" style="padding-top:100px; padding-left:40px;">

<div id="thanks">
    Thanks for watching the quiz. Out of appreciation we'd like to make a <span bind="giftAmount"></span>donation to a charity off of the following list.
</div>

<ul>
    <div class="row">
    <select ng-model="$parent.storeName">
        <option ng-repeat="store in stores" value="{{ store.name }}">
            {{ store.name }}
        </option>
    </select>
    </div>
    <a class="btn btn-cta" ng-click="SaveStorePreference()">Send my donation!</a>

</ul>
    </div>