<div class="cross-stitched latest-news" style="padding-top:100px; padding-left:40px;">

<div id="thanks">
    Thanks for the DONATION. Out of appreciation we'd like to offer you a gift card to
    one of the following online stores. Make sure you enter your email so we can
    know where to send it!
</div>

<ul>
    <div class="row">
    <select ng-model="$parent.storeName">
        <option ng-repeat="store in stores" value="{{ store.name }}">
            {{ store.name }}
        </option>
    </select>
    </div>
    <a class="btn btn-cta" ng-click="SaveStorePreference()">Send my donation!</a>

</ul>
    </div>