#step_code{
	background: red;
}
#step_quiz{
}
#step_results{
	background: yellow;
}

#content_display {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0em;
}
.step_display {
	padding: 60px;
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
}
.step_positioner {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#step_video {
	display: block;
}
#step_quiz {
	text-align: center;
}
#quiz_submitter {
	display: none;
}
#quiz_form{
	margin-top: 3em;
	display: inline-block;
	text-align: left;
}
#quiz_form ul{
	list-style: none;
}
input[type="radio"]{
	opacity: 0;
	display: none;
}
#quiz_form label{
	margin: 0.25em;
	display: inline-block;
	padding: 0.12em 1em;;
	border: 1px solid black;
	border-radius: 0.2em;
}
#quiz_form label:hover{
	background: #ccffcc;
}
#quiz_form{
	font-size: x-large;
	padding: 1em 3em;
	border: 1px solid grey;
	border-radius: 0.25em;
}