/* app css stylesheet */

body {
  padding-top: 20px;
}

.container-fluid {
  margin: 15px 61px 15px 61px;
}

.center-block {
  margin: 50px 0 0 0;
}

h3.ng-binding {
  margin: 30px 0 20px 0;
  font-size: 22px;
}

li.ng-binding.ng-scope {
  margin: 5px 0 5px 0;
}

ol {
  list-style-type: none;
  font-size: 14px;
}

ul {
  list-style-type: decimal;
  font-size: 20px;
}

.buffer {
  margin: 3px;
}

#intro {
  height: 125px;
  text-align: left;
  font-weight: bold;

}

#welcome {
  }

#choice {
  font-weight:normal;
}

#check {
  margin: 15px;
}
